.DS_Store
.CFUserTextEncoding
.IdentityService/
.android/
.bitnami/
.cache/
.composer/
.config/
.dotnet/
.ipython/
.local/
.m2/
.mono/
.ms_openjdk_config
.npm/
.nuget/
.openjfx/
.oracle_jre_usage/
.putty/
.swiftpm/
.templateengine/
.vscode/
.zprofile
.zsh_history
.zsh_sessions/
.zshrc
Library/
Applications/

